* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    max-width: 900px;
    margin: 3.5em 1.5em;
}

.type-cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.type-cars h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--very-light-gray);
    margin-bottom: 1em;
}

.type-cars p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--paragraph-color);
    margin-bottom: 4em;
    line-height: 22px;
    font-size: 15px;
}

.type-cars .sedans {
    background-color: var(--bright-orange);
    display: flex;
    flex-direction: column;
}

.type-cars .suvs {
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
}

.type-cars .luxury {
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
}

.type-cars .item {
    padding: 2em 2.3em;
}

.type-cars img {
    width: 60px;
    margin-bottom: 1.2em;
}

.type-cars .item button {
    width: 130px;
    border-radius: 20px;
    padding: .7em 1.3em;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-top: auto;
    border: 1px solid transparent;
}



.type-cars .item button:hover {
    color: var(--paragraph-color);
    border: 1px solid white;
    cursor: pointer;
}

.type-cars .sedans > button:hover {
    background-color: var(--bright-orange);    
}

.type-cars .suvs > button:hover {
    background-color: var(--dark-cyan);
}

.type-cars .luxury > button:hover {
    background-color: var(--very-dark-cyan);
}

.type-cars .sedans > button:active {
    background-color: hsl(31, 77%, 35%);
}

.type-cars .suvs > button:active {
    background-color: hsl(184, 100%, 10%);
}

.type-cars .luxury > button:active {
    background-color: hsl(179, 100%, 7%);
}

.type-cars .sedans > button {
    color: var(--bright-orange);    
}

.type-cars .suvs > button {
    color: var(--dark-cyan);
}

.type-cars .luxury > button {
    color: var(--very-dark-cyan);
}